@page
@model Institution.Pages.Tutors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card bg-dark text-white">
    <div class="card-header">
        <h3>New Tutor</h3>
    </div>
    <div class="card-body">
        <div>
            <div>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Tutor.FirstName" class="control-label"></label>
                        <input asp-for="Tutor.FirstName" class="form-control" />
                        <span asp-validation-for="Tutor.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tutor.LastName" class="control-label"></label>
                        <input asp-for="Tutor.LastName" class="form-control" />
                        <span asp-validation-for="Tutor.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tutor.Ci" class="control-label"></label>
                        <input asp-for="Tutor.Ci" class="form-control" />
                        <span asp-validation-for="Tutor.Ci" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tutor.Cellphone" class="control-label"></label>
                        <input asp-for="Tutor.Cellphone" class="form-control" />
                        <span asp-validation-for="Tutor.Cellphone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tutor.Birthdate" class="control-label"></label>
                        <input asp-for="Tutor.Birthdate" class="form-control" />
                        <span asp-validation-for="Tutor.Birthdate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tutor.IdProvince" class="control-label"></label>
                        <input asp-for="Tutor.IdProvince" class="form-control" />
                        <span asp-validation-for="Tutor.IdProvince" class="text-danger"></span>
                    </div>
                    <div class="d-grid gap-2">
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="button">Register</button>
            <a class="btn btn-secondary" asp-page="Index">Back</a>
        </div>
    </div>
</div>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
